@use '../utils/mixins' as *;

.card {
  @include montserrat;
  max-width: 21.625rem;
  background-color: var(--white);
  border-radius: 0.625rem;
  user-select: none;

  &__image {
    max-width: 100%;
    height: auto;
    border-radius: 0.625rem 0.625rem 0 0;
    cursor: pointer;
  }

  &__content {
    padding: 1.5rem;
    user-select: text;
  }

  &__category {
    text-transform: uppercase;
    color: var(--dark-grayish-blue);
    letter-spacing: 0.313rem;
    font-size: 0.75rem;
  }

  &__title {
    @include fraunces;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    margin: 0.75rem 0 1rem 0;
  }

  &__description {
    color: var(--dark-grayish-blue);
    font-size: 0.881rem;
    line-height: 1.438rem;
  }

  &__prices {
    display: flex;
    align-items: center;
    margin: 1.5rem 0 1.25rem 0;
  }

  &__price--new {
    @include fraunces;
    font-weight: 700;
    color: var(--dark-cyan);
    font-size: 2rem;
    margin-right: 1.188rem;
  }

  &__price--old {
    color: var(--dark-grayish-blue);
    text-decoration: line-through;
  }

  &__button {
    display: flex;
    align-items: center;
    border: none;
    justify-content: center;
    background-color: var(--dark-cyan);
    border-radius: 0.5rem;
    font-weight: 700;
    color: var(--white);
    width: 100%;
    padding: 0.938rem 5.75rem 0.938rem 5.75rem;
  }
  &__button:hover {
    background-color: var(--deep-aquamarine-hover);
    cursor: pointer;
  }

  &__icon {
    margin-right: 0.688rem;
  }
}

@media (min-width: 48rem) {
  .card {
    max-width: 25rem;
  }
}

@media (min-width: 90rem) {
  .card {
    max-width: 37.5rem;
    display: flex;

    &__image {
      max-width: 18.75rem;
      height: 100%; /* Se ajusta al 100% de la altura del contenedor padre */
      border-radius: 0.625rem 0 0 0.625rem;
      object-fit: cover; /* Mantiene la proporción de la imagen sin distorsionarse */
    }

    &__content {
      padding: 2rem 2rem 0 2rem;
    }

    &__title {
      margin: 1.25rem 0 1.5rem 0;
    }

    &__button {
      margin-top: 1.875rem;
      padding: 0.938rem 3.875rem;
    }
  }
}