@use '../utils/mixins' as *;

.footer {
  @include montserrat;
  font-weight: 700;
  margin-bottom: 25px;

  &__attribution {
    font-size: 11px; text-align: center;
  }
  &__link {
    color: hsl(228, 45%, 44%);
  }
}